<!-- *************************** MAPLE : 공통 (HEADER) START  ******************  -->

<!DOCTYPE html>
{% load static%}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MAPLE CAFE</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/business-casual.min.css'  %}" rel="stylesheet">
  <!-- 민재 style    -->
  <style>
      .table table-hover{
        text-align : center ;
      }
      .pValueInput{

        width : 40px;
      }

      .list-table{
        width : 600px;
        text-align : center ;
      }

      .amount{
        padding-left : 300px;
      }
  </style>

</head>

<body>
  <!--------------- MAPLE : 타이틀  --------------->

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">The Best Coffee Shop in MultiCampus</span>
    <span class="site-heading-lower">MAPLE CAFE</span>
  </h1>
  <!--------------- MAPLE : 메뉴  --------------->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">MAPLE CAFE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
<!--
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
-->
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../order">주문</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../orderStatus">주문현황</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../menu">카페메뉴</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../staff">직원관리</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="../salesStatus">매출현황</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- *************************** MAPLE : 공통 (HEADER) END  ******************  -->





<!-- *************************** MAPLE : 화면 START *************************  -->

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">



<!-----------------MAPLE : List START ----------------->
<!--  MAPLE:  TITLE  -->

              <h2 class="section-heading mb-4">
                <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
                <span class="text-uppercase text-primary"> 주문 </span>
              </h2>


 <!--  MAPLE: BUTTON  1 -->
              <div class="intro-button" align="right">
<!--                <button type="submit" class="btn btn-primary" id="inputBtn1">입력</button>-->
<!--                <button type="submit" class="btn btn-primary" id="modiBtn1">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn1">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn1">조회</button>-->
<!--                <button type="submit" class="btn btn-primary" id="saveBtn1">저장</button>-->
              </div>

              <br>


    <!--  MAPLE: 테이블  START  -->
              <div class="container d-flex justify-content-center mt-50 mb-50">
                <div class="card w-100">
                  <div class="table-responsive">
                    <div style="width:100%; height:300px; overflow:auto ">
                    <table class="table table-hover ">
    <!-- MAPLE:  테이블 헤더   -->
                      <thead class="thead-light">
                        <tr>
                          <th> </th>
                          <th scope="col">번호</th>
                          <th scope="col">상품명</th>
                          <th scope="col">가격</th>
                          <th scope="col">수량</th>
                        </tr>
                      </thead>

    <!-- MAPLE:  테이블 바디  -->







                      <tbody>
                        <tr>
                          <td> <input  type="radio" name="radioValue" value="1"> </td>
                          <td id="pId_1">1</td>
                          <td id="pName_1" >아이스커피</td>
                          <td id="pPrice_1">5100</td>
                          <td class="pValue" id="pValue_1">
                              <button type="button" onclick="calCount1('p')">+</button>
                              <input class="pValueInput" id="pValueInput_1" type="text" name="pop_out" value="0" readonly="readonly"/>
                              <button type="button" onclick="calCount1('m')">-</button>
                          </td>

                        </tr>
                        <tr>
                          <td> <input  type="radio" name="radioValue" value="2"> </td>
                          <td id="pId_2">2</td>
                          <td id="pName_2" >프라푸치노</td>
                          <td id="pPrice_2">6100</td>
                          <td class="pValue" id="pValue_2">
                              <button type="button" onclick="calCount2('p')">+</button>
                              <input class="pValueInput" id="pValueInput_2" type="text" name="pop_out" value="0" readonly="readonly"/>
                              <button type="button" onclick="calCount2('m')">-</button>
                          </td>
                        </tr>
                        <tr>
                          <td> <input  type="radio" name="radioValue" value="3"> </td>
                          <td id="pId_3">3</td>
                          <td id="pName_3" >아이스티</td>
                          <td id="pPrice_3">5200</td>
                          <td class="pValue" id="pValue_3">
                              <button type="button" onclick="calCount3('p')">+</button>
                              <input class="pValueInput" id="pValueInput_3" type="text" name="pop_out" value="0" readonly="readonly"/>
                              <button type="button" onclick="calCount3('m')">-</button>
                          </td>
                        </tr>



                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
    <!--  MAPLE: 테이블  END -->


<!--  MAPLE: BUTTON  2 -->
              <br>
              <div class="intro-button" align="right">
                <button type="submit" class="btn btn-primary" id="inputBtn2">입력</button>

<!--                <button type="submit" class="btn btn-primary" id="serchBtn2">조회</button>-->
<!--                <button type="submit" class="btn btn-primary" id="saveBtn2">저장</button>-->
              </div>
              <br>


<!-----------------MAPLE : List END ----------------->
</br>

<!-----------------MAPLE : Detail START ----------------->
<!--  MAPLE:  TITLE  -->
              <h2 class="section-heading mb-4">
                <img  src="{% static 'img/cafe_icon3.png'%}" width="40" height="40">
                <span class="text-uppercase text-primary" > 주문내역 </span>
              </h2>

<!--  MAPLE:  INPUT  -->
              <section class="content">
                <div class="row">
                <!-- left column -->
                  <div class="col-md-12">
                  <!-- general form elements -->
                    <div class="box box-primary">
                    <!-- /.box-header -->

                      <form id="regForm"  method="post" action="{% url 'insertProduct' %}" >
                      {% csrf_token %}

                        <div class="box-body">
                          <div class="form-group">
                            <table class="list-table">
                                <colgroup>
                                    <col width="5%">
                                    <col width="40%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="25%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>메뉴</th>
                                        <th>가격</th>
                                        <th>수량</th>
                                        <th>금액</th>


                                    </tr>
                                </thead>
                                <tbody id="list-body">
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <div class="amount">
                                <span>합계</span>
                                <span id="amount">0</span>
                            </div>
                          </div>



                          <!--   업데이트 구분 : ( Y: 수정 , N:신규        -->
                          <input type="hidden" name="updateYn" id="updateYn"  value="N">

                        </div>
                        <!-- /.box-body -->
                      </form>


                    </div>
                            <!-- /.box -->
                  </div>
                        <!--/.col (left) -->
                </div>
                    <!-- /.row -->
              </section>

<!--  MAPLE: BUTTON  3 -->
              <br>
              <div class="intro-button" align="right">
<!--                <button type="submit" class="btn btn-primary" id="inputBtn3">입력</button>-->
<!--                <button type="submit" class="btn btn-primary" id="modiBtn3">수정</button>-->
<!--                <button type="submit" class="btn btn-primary" id="delBtn3">삭제</button>-->
<!--                <button type="submit" class="btn btn-primary" id="serchBtn3">조회</button>-->
                  <button type="submit" class="btn btn-primary" id="modiBtn2">수정</button>
                  <button type="submit" class="btn btn-primary" id="delBtn2">삭제</button>
                  <button type="submit" class="btn btn-primary" id="saveBtn3">저장</button>
              </div>
              <br>
<!-----------------MAPLE : Detail END ----------------->



            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





<!-- *************************** MAPLE : 화면 END ***************************  -->




<!-- *************************** MAPLE : 공통 (FOOTER) START  ******************  -->
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2021</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- 민재 스크립트 -->
  <script>
      function calCount1(type){
        let pValue_1 = document.querySelector("#pValueInput_1")
        let currentValue_1 = parseInt(pValueInput_1.value)

        if(type==='p'){
            console.log(1)
            currentValue_1 += 1;
            pValue_1.value= currentValue_1;


        }else{
            currentValue_1 -= 1;
            pValue_1.value= currentValue_1;
            pValue_1.innerText = currentValue_1;
            }
       }

       function calCount2(type){
        let pValue_2 = document.querySelector("#pValueInput_2")
        let currentValue_2 = parseInt(pValueInput_2.value)

        if(type==='p'){
            console.log(1)
            currentValue_2 += 1;
            pValue_2.value= currentValue_2;


        }else{
            currentValue_2 -= 1;
            pValue_2.value= currentValue_2;
            pValue_2.innerText = currentValue_2;
            }
       }

       function calCount3(type){
        let pValue_3 = document.querySelector("#pValueInput_3")
        let currentValue_3 = parseInt(pValueInput_3.value)

        if(type==='p'){
            console.log(1)
            currentValue_3 += 1;
            pValue_3.value= currentValue_3;


        }else{
            currentValue_3 -= 1;
            pValue_3.value= currentValue_3;
            pValue_3.innerText = currentValue_3;
            }
       }

<!--        function calCount2(type){-->
<!--        let pCountInput_2 = document.querySelector("#pCountInput_2");-->
<!--        let currentValue_2 = parseInt(pCountInput_2.value)-->
<!--        let pValue_2 = document.querySelector("#pValue_2")-->
<!--        if(type==='p'){-->
<!--            currentValue_2 += 1;-->
<!--            pCountInput_2.value= currentValue_2;-->
<!--            pValue_2.innerText = currentValue_2;-->

<!--        }else{-->
<!--            currentValue_2 -= 1;-->
<!--            pCountInput_2.value= currentValue_2;-->
<!--            pValue_2.innerText = currentValue_2;-->
<!--            }-->
<!--       }-->


<!-- ******************버튼 기능************************   -->

    var sum = 0
    $('#inputBtn2').click(function(){
        var checkbox = $("[name=radioValue]:checked");
        var ckVal = checkbox.val()
        var tdArr = new Array()


        if (ckVal == null){
            alert("항목을 선택해라")
        }else{
            // 입력창 활성화
            $('#id').attr('readonly', false);

            var tr = $('<tr></tr>')

            var input = $('<input/>')
            input.attr('type', 'checkbox')
            input.attr('class', 'btn-chk')

            var td00 = $('<td></td>');
            td00.append(input);
            tr.append(td00);

            var td01 = $('<td></td>');
            td01.append($('#pName_'+ckVal).text());
            tr.append(td01);

            var td02 = $('<td></td>');
            td02.append($('#pPrice_'+ckVal).text());
            tr.append(td02);
            $('#list-body').append(tr);

            var td03 = $('<td></td>');
            td03.append($('#pValueInput_'+ckVal).val());
            tr.append(td03);
            $('#list-body').append(tr);

            var td04 = $('<td></td>');
            var amount = parseInt($('#pPrice_'+ckVal).text())*parseInt($('#pValueInput_'+ckVal).val())
            td04.append(amount);
            tr.append(td04);
            $('#list-body').append(tr);

            sum += amount

            $('#amount').text(sum)


<!--            let pValue_1 = document.querySelector("#pValueInput_1")-->
<!--            let pValue_2 = document.querySelector("#pValueInput_2")-->
<!--            let pValue_3 = document.querySelector("#pValueInput_3")-->
<!--            if(('pValue_'+ckVal)=='pValue_1'){-->
<!--                pValue_1.value = 0-->
<!--            }else if(('pValue_'+ckVal)=='pValue_2'){-->
<!--                pValue_2.value = 0-->
<!--            }else if(('pValue_'+ckVal)=='pValue_3'){-->
<!--                pValue_3.value = 0-->
<!--            }-->



       }
    });

    $('#delBtn2').click(function(){
        var $obj = $("input[class='btn-chk']")

        var checkCount = $obj.length

        for (var i=0; i<checkCount; i++){
            if($obj.eq(i).is(":checked")){
                sum = 0
                $('#amount').text(sum)
                console.log($obj.eq(i).children())
                console.log($obj.eq(i).parent().children())
                console.log($obj.eq(i))

                $obj.eq(i).parent().parent().remove();
                   }
            }


        })



  </script>

</body>

</html>
<!-- *************************** MAPLE : 공통 (FOOTER) END  ******************  -->